name: Release

on:
  push:
    tags: ["v*"]

permissions:
  contents: write

jobs:
  release:
    name: Release ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
          - name: Linux x86
            os: ubuntu-latest
            target: x86_64-unknown-linux-gnu.2.31
            artifact:
              sidecar: target/release/libdefold_nvim_sidecar.so
              bridge: target/release/defold-nvim-bridge
            dist:
              sidecar: target/release/linux-x86-libdefold_nvim_sidecar.so
              bridge: target/release/linux-x86-defold-nvim-bridge
          - name: MacOS x86
            os: macos-15-intel
            target: x86_64-apple-darwin
            artifact:
              sidecar: target/release/libdefold_nvim_sidecar.dylib
              bridge: target/release/defold-nvim-bridge
            dist:
              sidecar: target/release/macos-x86-libdefold_nvim_sidecar.dylib
              bridge: target/release/macos-x86-defold-nvim-bridge
          - name: MacOS ARM
            os: macos-latest
            target: aarch64-apple-darwin
            artifact:
              sidecar: target/release/libdefold_nvim_sidecar.dylib
              bridge: target/release/defold-nvim-bridge
            dist:
              sidecar: target/release/macos-arm-libdefold_nvim_sidecar.dylib
              bridge: target/release/macos-arm-defold-nvim-bridge
          - name: Windows x86
            os: windows-latest
            target: x86_64-pc-windows-gnu
            artifact:
              sidecar: target/release/defold_nvim_sidecar.dll
              bridge: target/release/defold-nvim-bridge.exe
            dist:
              sidecar: target/release/windows-x86-defold_nvim_sidecar.dll
              bridge: target/release/windows-x86-defold-nvim-bridge

    steps:
      - uses: actions/checkout@v5
      - uses: mlugg/setup-zig@v2
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          rustflags: ""

      - name: build ${{ matrix.config.name }}
        run: |
          cargo install cargo-zigbuild
          cargo zigbuild --release --target ${{ matrix.config.target }}

      - name: prepare ${{ matrix.config.name }}
        run: |
          # rename builds to be unique
          mv "${{ matrix.config.artifact.sidecar }}" "${{ matrix.config.dist.sidecar }}"
          mv "${{ matrix.config.artifact.bridge }}" "${{ matrix.config.dist.bridge }}"

          # generate sha256 sum
          shasum -a 256 "${{ matrix.config.dist.sidecar }}" > "${{ matrix.config.dist.sidecar }}.sha256"
          shasum -a 256 "${{ matrix.config.dist.bridge }}" > "${{ matrix.config.dist.bridge }}.sha256"

      - name: upload ${{ matrix.config.name }}
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ${{ matrix.config.dist.sidecar }}
            ${{ matrix.config.dist.bridge }}
            ${{ matrix.config.dist.sidecar }}.sha256
            ${{ matrix.config.dist.bridge }}.sha256
